<header class="bg-base-100 shadow-md py-4 px-6 flex justify-between items-center">

<h1 class="text-2xl font-bold">
  <%= link_to "RNGesus", root_path,
      class: "bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent hover:opacity-90 transition" %>
</h1>

<nav class="space-x-4">
  <% if current_user %>
    <span class="text-gray-700">
      Logged in as: <%= current_user.provider.capitalize %> /
      <%= current_user.uid %>
    </span>

    <%= link_to "Logout",
                logout_path,
                method: :delete,
                class: "text-gray-700 hover:text-primary" %>
  <% else %>
    <%= link_to "Log In",
                login_path,
                class: "btn btn-primary" %>
  <% end %>
</nav>
</header>

