<%= form_with(
      model: result,
      url: result.persisted? ?
           result_path(result) :
           roll_results_path(result.roll),
      method: result.persisted? ? :patch : :post,
      class: "contents"
    ) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <div>
        <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

        <ul class="list-disc ml-6 mt-2">
          <% result.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name,
                    class: [
                      "input input-bordered w-full",
                      {
                        "input-error": result.errors[:name].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :value, class: "label" %>
    <%= form.select :value,
          options_for_select(result.roll.dice_object.min..result.roll.dice_object.max, result.value),
          {},
          class: [
            "select select-bordered w-full",
            {
              "select-error": result.errors[:value].any?,
            },
          ] %>
  </div>

  <div class="inline">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
