<ul class="list bg-base-100 rounded-box shadow-md">
    <% if results.any? %>
      <% results.each do |result| %>

<li class="list-row flex items-center space-x-4 py-2">
  <!-- Fixed width for numbers (enough for 2 digits) -->
  <div class="w-12 text-4xl font-thin opacity-30 tabular-nums text-right">
    <%= result.value %>
  </div>

  <!-- Name cell vertically centered -->
  <div class="flex-1 flex items-center">
    <div><%= result.name %></div>
  </div>

  <!-- Action buttons -->
  <div class="flex flex-col sm:flex-row space-x-2 space-y-2 sm:space-y-0 w-full sm:w-auto">
    <%= link_to "Show", result,
      class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= link_to "Edit", edit_result_path(result),
      class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy", result, method: :delete,
      class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer",
      data: { turbo_confirm: "Are you sure?" } %>
  </div>
</li>

      <% end %>
    <% else %>
      <p class="text-center my-10">No results found.</p>
    <% end %>
</ul>
