<%= form_with(model: randomizer, class: "contents") do |form| %>
  <% if randomizer.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <div>
        <h2><%= pluralize(randomizer.errors.count, "error") %> prohibited this randomizer from being saved:</h2>

        <ul class="list-disc ml-6 mt-2">
          <% randomizer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name,
                    class: [
                      "input input-bordered w-full",
                      {
                        "input-error": randomizer.errors[:name].any?,
                      },
                    ] %>
  </div>

  <div class="inline">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
