<% content_for :title, "Randomizers" %>

<div class="w-full">
  <div class="flex flex-wrap gap-4">

<div class="card bg-base-100 w-96 shadow-sm flex flex-col group
             p-4 min-h-[180px]
            bg-gradient-to-b from-base-100 to-base-200">
  <%= link_to new_randomizer_path,
              class: "flex-1 flex flex-col no-underline text-inherit" do %>

    <h2 class="card-title text-xl font-bold mb-2">New Randomizer</h2>

    <p class="flex-1 text-base-content/70">
      Create your own!
    </p>

  <% end %>
</div>

    <% @randomizers.each do |randomizer| %>

<div class="card w-96 shadow-sm flex flex-col group p-4 min-h-[180px]
            bg-gradient-to-br from-primary/5 to-primary/10
            hover:from-primary/10 hover:to-primary/20 transition-all duration-200">
  <%= link_to randomizer_outcomes_path(randomizer),
              class: "flex-1 flex flex-col no-underline text-inherit" do %>

    <h2 class="card-title text-xl font-bold mb-2">
      <%= randomizer.name %>
    </h2>

    <p class="flex-1 text-base-content/70">
      <%= randomizer.rolls
            .map { |r| h(r.name || 'Missing') }
            .join(' &middot; ')
            .html_safe %>
    </p>

  <% end %>

  <div class="card-actions justify-end mt-4 flex flex-row space-x-3 pb-2 pr-2">
    <%= link_to randomizer,
                class: "text-base-content/50 hover:text-base-content p-2 rounded " do %>
      <%= icon(:pencil, class: "w-5 h-5") %>
    <% end %>
  </div>
</div>

    <% end %>
  </div>
</div>
