<% content_for :title, @randomizer.name %>

<div id="<%= dom_id @randomizer %>" class="w-full my-5 p-6 bg-base-200 rounded-xl shadow-md flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-4 sm:space-y-0">
  <div class="flex items-center text-2xl sm:text-3xl font-bold text-primary gap-2">
    <%= link_to randomizers_path do %>
      <%= icon('caret-left', class: "w-6 h-6 text-gray-500") %>
    <% end %>
    <%= @randomizer.name %>
    <%= link_to edit_randomizer_path(@randomizer),
                class: "text-base-content/50 hover:text-base-content p-2 rounded " do %>
      <%= icon(:edit, class: "w-5 h-5") %>
    <% end %>
  </div>
</div>

<%= render 'rolls/index', rolls: @randomizer.rolls %>

<div class="mt-4">
  <%= link_to "New roll", new_randomizer_roll_path(@randomizer), class: "btn btn-primary" %>
  <%= button_to "Destroy this randomizer", @randomizer, method: :delete, form_class: "inline-block", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
</div>
