<% content_for :title, @randomizer.name %>

<div id="<%= dom_id @randomizer %>" class="card-index w-full my-5 flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-4 sm:space-y-0">
  <div class="flex items-center text-2xl sm:text-3xl font-bold font-typewriter gap-2">
    <%= @randomizer.name %>
    <% @randomizer.tags.each do |tag| %>
      <%= link_to tag.name,
          randomizers_path(tag: tag.name),
          class: "badge badge-outline text-base-content hover:badge-primary transition-colors font-handwriting text-sm" %>
    <% end %>
    <% if current_user == @randomizer.user %>
      <%= link_to edit_randomizer_path(@randomizer),
                  class: "text-base-content/50 hover:text-base-content p-2 rounded " do %>
        <%= icon(:edit, class: "w-5 h-5") %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'rolls/index', rolls: @randomizer.rolls %>

<% if current_user == @randomizer.user %>
  <div class="mt-4">
    <%= link_to "New roll", new_randomizer_roll_path(@randomizer), class: "btn-doodle" %>
    <%= button_to "Destroy this randomizer", @randomizer, method: :delete, form_class: "inline-block", class: "btn-doodle cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
