<%= form_with(model: example, class: "contents") do |form| %>
  <% if example.errors.any? %>
    <div id="error_explanation"
      class="alert alert-error">
      <div>
        <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

        <ul class="list-disc ml-6 mt-2">
          <% example.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name,
                    class: [
                      "input input-bordered w-full",
                      {
                        "input-error": example.errors[:name].any(),
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= form.label :value, class: "label" %>
    <%= form.number_field :value,
                      class: [
                        "input input-bordered w-full",
                        {
                          "input-error": example.errors[:value].any(),
                        },
                      ] %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
