<%= form_with(
      model: roll,
      url: roll.persisted? ?
           roll_path(roll) :
           randomizer_rolls_path(roll.randomizer),
      method: roll.persisted? ? :patch : :post,
      class: "contents"
    ) do |form| %>
  <% if roll.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <div>
        <h2><%= pluralize(roll.errors.count, "error") %> prohibited this roll from being saved:</h2>

        <ul class="list-disc ml-6 mt-2">
          <% roll.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name,
                    class: [
                      "input-handwritten w-full",
                      {
                        "border-red-500": roll.errors[:name].any?,
                      },
                    ] %>
  </div>

  <div class="my-5">
    <%= render 'form_dice', form: form, roll: roll %>
  </div>

  <div class="inline">
    <%= form.submit "Submit", class: "btn-doodle cursor-pointer" %>
  </div>
<% end %>
