<ul class="list w-full">
    <% if rolls.any? %>
      <% rolls.each do |roll| %>

<li class="list-row flex items-center space-x-4 py-3 px-3
           border-b border-blue-200
           hover:bg-yellow-50 transition-colors">
  <%= link_to roll, class: "flex-1 flex items-center space-x-4 text-inherit no-underline" do %>
    <div class="w-24 text-4xl font-handwriting opacity-50 tabular-nums text-right text-pencil">
      <%= roll.dice_object.try(:name) || '?' %>
    </div>

    <div class="flex-1 flex items-center">
      <div class="text-xl font-handwriting text-pencil"><%= roll.name %></div>
    </div>
  <% end %>

  <% if current_user == roll.randomizer.user %>
    <div class="flex flex-row space-x-2 w-auto">
      <%= link_to edit_roll_path(roll), class: "text-pencil/50 hover:text-pencil p-2 rounded" do %>
        <%= icon(:edit, class: "w-5 h-5") %>
      <% end %>

      <%= button_to roll_path(roll), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-700 p-2 rounded" do %>
        <%= icon(:trash, class: "w-5 h-5") %>
      <% end %>
    </div>
  <% end %>
</li>

      <% end %>
    <% else %>
      <p class="text-center my-10 font-handwriting text-2xl text-pencil/50">No rolls found.</p>
    <% end %>
</ul>
