<%# FIXME: down anybody call this? %>
<div id="<%= dom_id roll %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= roll.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dice:</strong>
    <%= roll.dice_object.try(:name) || 'Missing' %>
    (<%= roll.dice_object.try(:min) || '?' %>
  &hyphen;
    <%= roll.dice_object.try(:max) || '?' %>)
  </div>
</div>
