<div id="<%= dom_id roll %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= roll.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dice:</strong>
    <%= roll.dice %>
  </div>


<div class="flex space-x-2">
  <!-- Coin button: dice = 2 -->
  <%= button_to randomizer_roll_path(roll.randomizer, roll),
    method: :patch,
    params: { dice: [2] },
    class: "btn btn-square btn-ghost", data: { turbo: true } do %>
    <%= icon("circle-stack") %>
  <% end %>

  <!-- Triangle / Pyramid button: dice = 4 -->
  <%= button_to randomizer_roll_path(roll.randomizer, roll),
    method: :patch,
    params: { dice: [4] },
    class: "btn btn-square btn-ghost", data: { turbo: true } do %>
    <%= icon("exclamation-triangle") %>
  <% end %>

  <!-- Square / Cube button: dice = 6 -->
  <%= button_to randomizer_roll_path(roll.randomizer, roll),
    method: :patch,
    params: { dice: [6] },
    class: "btn btn-square btn-ghost", data: { turbo: true } do %>
    <%= icon("cube") %>
  <% end %>
</div>


</div>
