<div id="<%= dom_id roll %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">
    <%= roll.name %>
    </strong>
  </div>

<% dice_options = [
  { value: 2, icon: "circle-stack" },
  { value: 4, icon: "exclamation-triangle" },
  { value: 6, icon: "cube" }
] %>

<div class="flex space-x-2">
  <% dice_options.each do |opt| %>
    <%= button_to randomizer_roll_path(roll.randomizer, roll),
      method: :patch,
      params: { roll: { name: roll.name, dice: opt[:value] }},
      class: [
        "btn btn-square",
        (roll.dice == opt[:value] ? "btn-primary" : "btn-ghost")
      ].join(" "),
      data: { turbo: true } do %>
      <%= icon(opt[:icon]) %>
    <% end %>
  <% end %>
</div>

      <%= render 'results/index', roll: roll %>
</div>
