<% content_for :title, "Roll: #{@roll.name || 'Missing'}" %>

<div class="md:w-2/3 w-full">

<div id="<%= dom_id @roll %>" class="w-full my-5 p-6 bg-base-200 rounded-xl shadow-md flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-4 sm:space-y-0">
  <!-- Roll Name -->
  <div class="text-2xl sm:text-3xl font-bold text-primary">
    <%= @roll.name %>
  </div>

  <!-- Dice Info -->
  <div class="text-lg sm:text-xl text-gray-700 flex items-center space-x-2">
    <span class="font-medium"><%= @roll.dice_object.try(:name) || 'Missing' %></span>
    <span class="text-gray-500">
      (<%= @roll.dice_object.try(:min) || '?' %>&#8209;<%= @roll.dice_object.try(:max) || '?' %>)
    </span>
  </div>
</div>

  <%= render 'results/index', results: @roll.results %>

  <div class="mt-4">
    <%= link_to "New result", new_roll_result_path(@roll), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-100 hover:bg-blue-50 inline-block font-medium" %>
    <%= link_to "Import from Screenshot", new_roll_results_img_path(@roll), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-100 hover:bg-blue-50 inline-block font-medium" %>
    <%= link_to "Import from CSV", new_roll_results_csv_path(@roll), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-100 hover:bg-blue-50 inline-block font-medium" %>
    <%= link_to "Edit this roll", edit_roll_path(@roll), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= link_to "Back to randomizer", randomizer_path(@roll.randomizer), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%# link_to "Back to rolls", rolls_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this roll", @roll, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
