<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "RNGesus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="RNGesus">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="min-h-screen bg-base-50">
  <%= render "shared/header" %>

  <div class="container mx-auto px-4 py-8">

    <% if notice %>
      <label class="w-full block mb-4 cursor-pointer">
        <input type="checkbox" class="hidden peer" />
        <div class="max-w-7xl mx-auto bg-success text-success-content px-6 py-4 rounded-lg shadow flex items-center justify-between
                    transition-all duration-300 peer-checked:hidden">
          <span><%= notice %></span>
          <span class="ml-4 font-bold select-none">&times;</span>
        </div>
      </label>
    <% end %>

    <% if alert %>
      <label class="w-full block mb-4 cursor-pointer">
        <input type="checkbox" class="hidden peer" />
        <div class="max-w-7xl mx-auto bg-error text-error-content px-6 py-4 rounded-lg shadow flex items-center justify-between
                    transition-all duration-300 peer-checked:hidden">
          <span><%= alert %></span>
          <span class="ml-4 font-bold select-none">&times;</span>
        </div>
      </label>
    <% end %>

    <%= yield %>
  </div>

  <%= render "shared/footer" %>
</body>

</html>
